main header
{
    display: flex;
    margin-bottom: 1vw;
    box-shadow: 0 1vw 5vw 0vw rgb(215, 215, 215);
    padding: 1vw;
}

main header p
{
    position: relative;
    left: 2vw;
    bottom: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #5854c1;
    font-weight: bold;
    font-size: 2vw;
}

main header img
{
    width: auto;
    height: 4vw;
}